{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ретро Фотограф - Портфоліо</title>
    <link rel="shortcut icon" href="{% static 'img/Logo.jpg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'img/Logo.jpg' %}" alt="Логотип Ретро Фотографа" class="logo">
        </nav>
    </header>

    <main>
        <section id="home">
            <h1>Ретро Фотограф</h1>
            <p>Capturing moments, preserving memories</p>
        </section>

        <section id="about">
            <h2>Про мене</h2>
            <img src="{% static 'img/РОст 2.jpg'%}" alt="Фото фотографа" class="profile-pic">
            <p>Привіт,моя пристрасть аналогова фотографія,ремонт проявка зйомка та насолодження процесом,вивчаю історію розвитку фототехніки та колекціоную «совкові» фотоапарати.Сиджу на Київ-19.</p>
        </section>

        <section id="gallery">
            <h2>Галерея</h2>
            <div class="gallery-grid">
                <img src="{% static 'img/Фото 1.jpg' %}" alt="Ретро фото 1" class="gallery-img">
                <img src="{% static 'img/Фото 2.jpg' %}" alt="Ретро фото 2" class="gallery-img">
                <img src="{% static 'img/Фото 3.jpg' %}" alt="Ретро фото 3" class="gallery-img">
                <img src="{% static 'img/Фото 4.jpg' %}" alt="Ретро фото 4" class="gallery-img">
                <img src="{% static 'img/Фото 5.jpg' %}" alt="Ретро фото 5" class="gallery-img">
                <img src="{% static 'img/Фото 6.jpg' %}" alt="Ретро фото 6" class="gallery-img">
            </div>
        </section>

        <section id="contact">
            <h2>Контакти</h2>
            <p>Зв'яжіться зі мною для обговорення вашого проекту через соціальні мережі або email.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Ретро Фотограф. Усі права захищені.</p>
        <div class="social-links">
            <a href="https://t.me/arsenalfactorylovers"><img src="{% static 'img/Mask group.png'%}" alt="Telegram"></a>
            <a href="https://www.instagram.com/curly_warrior_of_sunlight?igsh=MWF3Mzd6d3k4dTc4cA%3D%3D&utm_source=qr"><img src="{% static 'img/Mask group 3.png' %}" alt="Instagram"></a>
            <a href="https://www.lomography.com/homes/kievlover"><img src="{% static 'img/Mask group 2.png' %}" alt="lomography"></a>
        </div>
    </footer>

    
</body>
</html>
